## Redes Neurais Artificiais 2022.2

#### Atividade Avaliativa 2.3

- **Disciplina**: Redes Neurais Artificiais 2022.2

- **Professora**: Elloá B. Guedes (ebgcosta@uea.edu.br)

- **Github**: https://github.com/jo-alves01/rna-aa3


Sobre a base de dados:

O dataset "Maternal Health Risk Data Set" contém informações relacionadas à saúde materna e risco de complicações durante a gestação. As variáveis do conjunto de dados incluem informações como idade, além de dados clínicos, como pressão arterial e níveis de glicose no sangue.

#### Equipe:

Carlos Gabriel da Silva Machado - 1815080079

Davi Rodrigues de França - 1915080053

Gabriella Rabelo Monteiro - 1915080011

Josué Costa dos Santos Alves - 1715080615

Victor Hugo Santos de Lima - 1915080025

## Bibliotecas

In [27]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

## Preparação dos dados

##### Leitura do dataset

In [28]:
mhr_dataset_base = pd.read_csv("./maternal_health_risk_data_set.csv")
mhr_dataset_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [29]:
mhr_dataset_base.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [30]:
mhr_dataset_base.rename(columns={"BS": "BloodSugar"}, inplace=True)
mhr_dataset_base.head()

   Age  SystolicBP  DiastolicBP  BloodSugar  BodyTemp  HeartRate  RiskLevel
0   25         130           80        15.0      98.0         86  high risk
1   35         140           90        13.0      98.0         70  high risk
2   29          90           70         8.0     100.0         80  high risk
3   30         140           85         7.0      98.0         70  high risk
4   35         120           60         6.1      98.0         76   low risk

##### Verificando quais são os possíveis valores do atributo alvo

In [31]:
mhr_dataset_base["RiskLevel"].unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

##### Verificando se há dados faltantes

In [32]:
mhr_dataset_base.isnull().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BloodSugar     0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

##### Valores máximos para cada coluna

In [39]:
mhr_dataset_base.loc[:].max()[:-1]

Age               70
SystolicBP       160
DiastolicBP      100
BloodSugar      19.0
BodyTemp       103.0
HeartRate         90
dtype: object

##### Criando dummies para a coluna RiskLevel

In [34]:
dummies = pd.get_dummies(mhr_dataset_base["RiskLevel"])
mhr_dataset_wo_risk_level = mhr_dataset_base.drop(["RiskLevel"], axis=1)

mhr_dataset_final = pd.concat([mhr_dataset_wo_risk_level, dummies], axis=1)
mhr_dataset_final.head()

,Age,SystolicBP,DiastolicBP,BloodSugar,BodyTemp,HeartRate,high risk,low risk,mid risk
0,25,130,80,15.0,98.0,86,1,0,0
1,35,140,90,13.0,98.0,70,1,0,0
2,29,90,70,8.0,100.0,80,1,0,0
3,30,140,85,7.0,98.0,70,1,0,0
4,35,120,60,6.1,98.0,76,0,1,0

##### Normalização dos dados

In [42]:
mhr_dataset_norm = (mhr_dataset_final - mhr_dataset_final.min(axis=0)) / (mhr_dataset_final.max(axis=0) - mhr_dataset_final.min(axis=0))

mhr_dataset_norm.head()

,Age,SystolicBP,DiastolicBP,BloodSugar,BodyTemp,HeartRate,high risk,low risk,mid risk
0,0.250000,0.666667,0.607843,0.692308,0.0,0.951807,1.0,0.0,0.0
1,0.416667,0.777778,0.803922,0.538462,0.0,0.759036,1.0,0.0,0.0
2,0.316667,0.222222,0.411765,0.153846,0.4,0.879518,1.0,0.0,0.0
3,0.333333,0.777778,0.705882,0.076923,0.0,0.759036,1.0,0.0,0.0
4,0.416667,0.555556,0.215686,0.007692,0.0,0.831325,0.0,1.0,0.0

### Análise Exploratória